body{
	background: #A5FDA0;
}

div#app-container {
	background: #D8FDA0;
	min-height: 500px;
	margin-top: 10px;
	font-family: Georgia;
	width: 1550px;
}

h1{
	color:#2A9510;
}
div.row{
	background: white;
}

.navbar-inverse{
	background-color: #174F09;
	font-color:#A5FDA0;
}
.navbar-brand{
	float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 54px;
    line-height: 20px;
    width: 100px;

}

div.col {
  background: #D8FDA0;
}
div#produse {
  padding: 10px;
}
div.card {
  margin-bottom: 20px;
  text-align: center;
  background: white;
}
div.card img {
  margin: 0 auto;
  padding: 10px;
}
li{
	display: inline;
	padding-right: 5px;
	padding-left: 5px;
	justify-content: center;
}


::webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
